In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\patil\OneDrive - rexwarrior123\Desktop\Academic_Performance.csv")
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.0,81.0,77.0,83,2021,2,Female
1,64.0,78.0,67.0,77,2019,2,Male
2,64.0,76.0,66.0,76,2019,0,Male
3,80.0,50.0,80.0,78,2020,2,Female
4,66.0,85.0,66.0,60,2021,3,Female
5,NaN,79.0,77.0,95,2019,3,Male
6,79.0,NaN,76.0,84,2019,2,Female
7,20.0,85.0,NaN,96,2021,3,Female
8,68.0,94.0,71.0,93,2020,3,Female
9,63.0,76.0,71.0,92,2019,3,Female
10,67.0,88.0,5.0,88,2021,3,Female
11,NaN,89.0,79.0,86,2018,3,Male
12,79.0,93.0,75.0,82,2018,2,Male
13,75.0,NaN,67.0,100,2020,3,Male
14,72.0,80.0,61.0,100,2019,3,Male
15,100.0,88.0,61.0,90,2021,5,Male
16,63.0,84.0,68.0,99,2018,3,Female
17,60.0,NaN,78.0,86,2021,3,Male
18,68.0,91.0,130.0,77,2021,2,Male
19,62.0,83.0,65.0,82,2021,1,Male
20,62.0,89.0,72.0,90,2019,3,Female
21,63.0,90.0,74.0,94,2018,3,Male
22,70.0,60.0,72.0,89,2018,3,Female
23,75.0,94.0,72.0,91,2021,3,Male
24,71.0,91.0,80.0,82,2018,2,Male
25,79.0,88.0,75.0,87,2020,3,Male
26,75.0,88.0,78.0,20,2019,2,Female
27,80.0,150.0,100.0,95,2018,3,Male
28,62.0,88.0,66.0,80,2021,2,Female
29,71.0,79.0,70.0,97,2021,3,Male

In [3]:
df.isnull()

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,True,False,False,False,False,False,False
6,False,True,False,False,False,False,False
7,False,False,True,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,True,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,True,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,True,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False

In [5]:
series = pd.isnull(df["math_score"])
df[series]

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
5,NaN,79.0,77.0,95,2019,3,Male
11,NaN,89.0,79.0,86,2018,3,Male

In [6]:
df.notnull()

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,False,True,True,True,True,True,True
6,True,False,True,True,True,True,True
7,True,True,False,True,True,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True
11,False,True,True,True,True,True,True
12,True,True,True,True,True,True,True
13,True,False,True,True,True,True,True
14,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True
17,True,False,True,True,True,True,True
18,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True

In [8]:
series1 = pd.notnull(df["math_score"])
df[series1]

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.0,81.0,77.0,83,2021,2,Female
1,64.0,78.0,67.0,77,2019,2,Male
2,64.0,76.0,66.0,76,2019,0,Male
3,80.0,50.0,80.0,78,2020,2,Female
4,66.0,85.0,66.0,60,2021,3,Female
6,79.0,NaN,76.0,84,2019,2,Female
7,20.0,85.0,NaN,96,2021,3,Female
8,68.0,94.0,71.0,93,2020,3,Female
9,63.0,76.0,71.0,92,2019,3,Female
10,67.0,88.0,5.0,88,2021,3,Female
12,79.0,93.0,75.0,82,2018,2,Male
13,75.0,NaN,67.0,100,2020,3,Male
14,72.0,80.0,61.0,100,2019,3,Male
15,100.0,88.0,61.0,90,2021,5,Male
16,63.0,84.0,68.0,99,2018,3,Female
17,60.0,NaN,78.0,86,2021,3,Male
18,68.0,91.0,130.0,77,2021,2,Male
19,62.0,83.0,65.0,82,2021,1,Male
20,62.0,89.0,72.0,90,2019,3,Female
21,63.0,90.0,74.0,94,2018,3,Male
22,70.0,60.0,72.0,89,2018,3,Female
23,75.0,94.0,72.0,91,2021,3,Male
24,71.0,91.0,80.0,82,2018,2,Male
25,79.0,88.0,75.0,87,2020,3,Male
26,75.0,88.0,78.0,20,2019,2,Female
27,80.0,150.0,100.0,95,2018,3,Male
28,62.0,88.0,66.0,80,2021,2,Female
29,71.0,79.0,70.0,97,2021,3,Male

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
newdf = df
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.0,81.0,77.0,83,2021,2,0
1,64.0,78.0,67.0,77,2019,2,1
2,64.0,76.0,66.0,76,2019,0,1
3,80.0,50.0,80.0,78,2020,2,0
4,66.0,85.0,66.0,60,2021,3,0
5,NaN,79.0,77.0,95,2019,3,1
6,79.0,NaN,76.0,84,2019,2,0
7,20.0,85.0,NaN,96,2021,3,0
8,68.0,94.0,71.0,93,2020,3,0
9,63.0,76.0,71.0,92,2019,3,0
10,67.0,88.0,5.0,88,2021,3,0
11,NaN,89.0,79.0,86,2018,3,1
12,79.0,93.0,75.0,82,2018,2,1
13,75.0,NaN,67.0,100,2020,3,1
14,72.0,80.0,61.0,100,2019,3,1
15,100.0,88.0,61.0,90,2021,5,1
16,63.0,84.0,68.0,99,2018,3,0
17,60.0,NaN,78.0,86,2021,3,1
18,68.0,91.0,130.0,77,2021,2,1
19,62.0,83.0,65.0,82,2021,1,1
20,62.0,89.0,72.0,90,2019,3,0
21,63.0,90.0,74.0,94,2018,3,1
22,70.0,60.0,72.0,89,2018,3,0
23,75.0,94.0,72.0,91,2021,3,1
24,71.0,91.0,80.0,82,2018,2,1
25,79.0,88.0,75.0,87,2020,3,1
26,75.0,88.0,78.0,20,2019,2,0
27,80.0,150.0,100.0,95,2018,3,1
28,62.0,88.0,66.0,80,2021,2,0
29,71.0,79.0,70.0,97,2021,3,1

In [12]:
ndf = df
ndf.fillna(0)

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.0,81.0,77.0,83,2021,2,0
1,64.0,78.0,67.0,77,2019,2,1
2,64.0,76.0,66.0,76,2019,0,1
3,80.0,50.0,80.0,78,2020,2,0
4,66.0,85.0,66.0,60,2021,3,0
5,0.0,79.0,77.0,95,2019,3,1
6,79.0,0.0,76.0,84,2019,2,0
7,20.0,85.0,0.0,96,2021,3,0
8,68.0,94.0,71.0,93,2020,3,0
9,63.0,76.0,71.0,92,2019,3,0
10,67.0,88.0,5.0,88,2021,3,0
11,0.0,89.0,79.0,86,2018,3,1
12,79.0,93.0,75.0,82,2018,2,1
13,75.0,0.0,67.0,100,2020,3,1
14,72.0,80.0,61.0,100,2019,3,1
15,100.0,88.0,61.0,90,2021,5,1
16,63.0,84.0,68.0,99,2018,3,0
17,60.0,0.0,78.0,86,2021,3,1
18,68.0,91.0,130.0,77,2021,2,1
19,62.0,83.0,65.0,82,2021,1,1
20,62.0,89.0,72.0,90,2019,3,0
21,63.0,90.0,74.0,94,2018,3,1
22,70.0,60.0,72.0,89,2018,3,0
23,75.0,94.0,72.0,91,2021,3,1
24,71.0,91.0,80.0,82,2018,2,1
25,79.0,88.0,75.0,87,2020,3,1
26,75.0,88.0,78.0,20,2019,2,0
27,80.0,150.0,100.0,95,2018,3,1
28,62.0,88.0,66.0,80,2021,2,0
29,71.0,79.0,70.0,97,2021,3,1

In [14]:
df['math_score']=df['math_score'].fillna(df['math_score'].mean())
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [15]:
df['math_score']=df['math_score'].fillna(df['math_score'].median())
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [16]:
df['math_score']=df['math_score'].fillna(df['math_score'].std())
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [17]:
df['math_score']=df['math_score'].fillna(df['math_score'].min())
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [18]:
df['math_score']=df['math_score'].fillna(df['math_score'].max())
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [19]:
m_v=df['math_score'].mean()
df['math_score'].fillna(value=m_v,inplace=True)
df

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [20]:
ndf.replace(to_replace=np.nan,value=-99)

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,-99.0,76.0,84,2019,2,0
7,20.000000,85.0,-99.0,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,-99.0,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,-99.0,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [21]:
ndf.dropna()

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [22]:
ndf.dropna(how='all')

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
6,79.000000,NaN,76.0,84,2019,2,0
7,20.000000,85.0,NaN,96,2021,3,0
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
13,75.000000,NaN,67.0,100,2020,3,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
17,60.000000,NaN,78.0,86,2021,3,1
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1

In [23]:
ndf.dropna(axis=1)

    math_score  placement_score  clubjoin_year  placement_offer_count  Gender
0    65.000000               83           2021                      2       0
1    64.000000               77           2019                      2       1
2    64.000000               76           2019                      0       1
3    80.000000               78           2020                      2       0
4    66.000000               60           2021                      3       0
5    68.678571               95           2019                      3       1
6    79.000000               84           2019                      2       0
7    20.000000               96           2021                      3       0
8    68.000000               93           2020                      3       0
9    63.000000               92           2019                      3       0
10   67.000000               88           2021                      3       0
11   68.678571               86           2018                      3       1
12   79.000000               82           2018                      2       1
13   75.000000              100           2020                      3       1
14   72.000000              100           2019                      3       1
15  100.000000               90           2021                      5       1
16   63.000000               99           2018                      3       0
17   60.000000               86           2021                      3       1
18   68.000000               77           2021                      2       1
19   62.000000               82           2021                      1       1
20   62.000000               90           2019                      3       0
21   63.000000               94           2018                      3       1
22   70.000000               89           2018                      3       0
23   75.000000               91           2021                      3       1
24   71.000000               82           2018                      2       1
25   79.000000               87           2020                      3       1
26   75.000000               20           2019                      2       0
27   80.000000               95           2018                      3       1
28   62.000000               80           2021                      2       0
29   71.000000               97           2021                      3       1

In [24]:
new_data=ndf.dropna(axis=0,how='any')
new_data

,math_score,reading_score,writing_score,placement_score,clubjoin_year,placement_offer_count,Gender
0,65.000000,81.0,77.0,83,2021,2,0
1,64.000000,78.0,67.0,77,2019,2,1
2,64.000000,76.0,66.0,76,2019,0,1
3,80.000000,50.0,80.0,78,2020,2,0
4,66.000000,85.0,66.0,60,2021,3,0
5,68.678571,79.0,77.0,95,2019,3,1
8,68.000000,94.0,71.0,93,2020,3,0
9,63.000000,76.0,71.0,92,2019,3,0
10,67.000000,88.0,5.0,88,2021,3,0
11,68.678571,89.0,79.0,86,2018,3,1
12,79.000000,93.0,75.0,82,2018,2,1
14,72.000000,80.0,61.0,100,2019,3,1
15,100.000000,88.0,61.0,90,2021,5,1
16,63.000000,84.0,68.0,99,2018,3,0
18,68.000000,91.0,130.0,77,2021,2,1
19,62.000000,83.0,65.0,82,2021,1,1
20,62.000000,89.0,72.0,90,2019,3,0
21,63.000000,90.0,74.0,94,2018,3,1
22,70.000000,60.0,72.0,89,2018,3,0
23,75.000000,94.0,72.0,91,2021,3,1
24,71.000000,91.0,80.0,82,2018,2,1
25,79.000000,88.0,75.0,87,2020,3,1
26,75.000000,88.0,78.0,20,2019,2,0
27,80.000000,150.0,100.0,95,2018,3,1
28,62.000000,88.0,66.0,80,2021,2,0
29,71.000000,79.0,70.0,97,2021,3,1